<!DOCTYPE html>
<html>
    <head>
    <title>
        REST@~
    </title>
    </head>
    <body>
        <h1>Hi page of REST@~</h1>
        {% block body %}
            <h2>All group in your home</h2>
            {% for item in groups %}
                <!-- <div>{{item[0]}}</div> -->
                <form method="POST">
                    {% if item[1] %}
                    Stanza: {{item[0]}} Acceso: Si 
                    {% else %}
                    Stanza: {{item[0]}} Acceso: No 
                    {% endif %}
                </form>
            {% endfor %}
        {% endblock %}
    </body>
</html>